* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
.wrapper {
  position: "fixed";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.btn {
  top: 10px;
  left: 10px;
  padding: 8px 16px;
  background: #169f34;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 1em;
  font-family: sans-serif;
}
.metric_wrapper {
  padding: 8px 16px;
  height: 6em;
}
.metric_wrapper > span {
  display: block;
  font-family: sans-serif;
}
